
h1:first-of-type{
    font-size:45px;
    color:red;
    padding-bottom:15px;

}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.columns-right .content{
    float: left;
    width: 66.67%;
}
.columns-right .content{
    background-color: navajowhite;
    padding: 50px 60px 175px 40px;
    width: calc(66.67% - 100px);
    padding-right:40px;
}
.columns-left .content{
    float: right;
    width: 66.67%;
}
.sidebar {
    font-size: 19px;
    float: left;
    background-color: burlywood;
    padding: 150px 170px 530px 70px;
}
.bod-content{
    padding-top:15px;
    font-size:17px;
}
.main-content{
    padding-left:35px;
}