
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #bae5e5;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    text-align: left;
    color: chocolate;
}
a:hover{
    color: navy;
}
a{
    text-decoration: none;
    color: #333333;
}
img{
    max-width: 100%;
}
#header-content{
    font-size:45px;
    color:red;
    padding-bottom:15px;

}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.columns-right .content{
    float: left;
    width: 66.67%;
}
.columns-right .content{
    padding: 50px 60px 90px 40px;
    width: calc(66.67% - 100px);
    padding-right:40px;
    background-color: navajowhite;
}
.columns-left .content{
    float: right;
    width: 66.67%;
}
.sidebar {
    font-size: 18px;
    float: left;
    padding: 180px 160px 965px 90px;
    background-color: burlywood;
}
.bod-content{
    padding-top:15px;
    font-size:17px;
}
.main-content{
    padding-left:35px;
}
#box-footer{
    width: 1200px;
    height:200px;
    background-color: bisque;
    padding: 15px 0 15px 0;
    box-sizing:border-box;
}
.main-footer{
    margin: auto;
}
